@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

/* ===== global ===== */
* {
    font-family: Outfit, sans-serif;
}
body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ==================== */

.container {
    background-color: hsl(0, 0%, 100%);
    width: 25vw;
    margin: 100px auto;
    padding: 20px;
    border-radius: 15px;
}
.container img {
    max-width: 100%;
    border-radius: 20px;
}
.container h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.container p {
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    text-align: center;
}